In [924]:
import scipy.io
import pandas as pd
import numpy as np
file = 'PrIdx_18_TrIdx_4_Lbr_6'
task = 'Tea_Making'
mat = scipy.io.loadmat('./data/Extracted_Data/%s/Labels/%s.mat'%(task,file))

In [925]:
labels = np.array(mat['LabelData']['Labels'][0])[0][:,0]
labels = labels[labels != 0]
labels = labels[labels != 4]
len(labels)

23519

In [926]:
frames = 1      #select frames or timestamp
start = []
end = []
label = []
try:
    for i in mat['LabelData'][0][0][3][0]:
        start.append(i[1][0][0])
        end.append(i[1][0][1])
        label.append(i[2][0][0])
except:
    for i in mat['LabelData'][0][0][2][0]:
        start.append(i[1][0][0])
        end.append(i[1][0][1])
        label.append(i[2][0][0])

In [927]:
np.array(mat['LabelData']['Labels'][0])[0][:,0]

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [928]:
data = {'start' : start, 'end' : end, 'label' : label}

In [929]:
df = pd.DataFrame(data, dtype='uint32')

In [930]:
df['frames'] = df.end - df.start

In [931]:
fixation = df.loc[df['label'] == 1]
gaze_f = df.loc[df['label'] == 5]

In [932]:
fixation = fixation.sort_values(axis = 0, by = 'frames', ascending= False)
gaze_f = gaze_f.sort_values(axis = 0, by = 'frames', ascending= False)

In [933]:
gaze_f

     start    end  label  frames
245  43819  44949      5    1130
193  36428  37227      5     799
180  34295  34948      5     653
318  49054  49688      5     634
182  34961  35583      5     622
..     ...    ...    ...     ...
20   22506  22540      5      34
319  49749  49778      5      29
57   24531  24558      5      27
321  49796  49804      5       8
323  49813  49820      5       7

[66 rows x 4 columns]

In [934]:
gaze_f.reset_index(inplace = True)

In [935]:
print(gaze_f.frames.sum())

10535

In [946]:
total_frames = 0
iterator = 0
for frame in gaze_f.frames:
    if total_frames < 9700:
        total_frames += frame
        iterator += 1
    
print(total_frames, iterator)

9728 46